{% load i18n allauth account static %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/accounts/password_reset.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Mudar Senha" %}
    {% endelement %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% element p %}
        {% trans "Esqueceu sua senha? Digite seu endereço de e-mail abaixo, e enviaremos um e-mail para você redefinir sua senha." %}
    {% endelement %}

    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Mudar Senha' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}

    {% element p %}
        {% blocktrans %}Por favor, entre em contato conosco caso tenha problemas para redefinir sua senha.{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}