{% load i18n allauth account static %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/accounts/password_reset_done.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Redefinição de Senha" %}
    {% endelement %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% element p %}
        {% blocktrans %}Mandamos um e-mail para você redefinir sua senha. Por favor, verifique sua caixa de entrada ou spam.{% endblocktrans %}
    {% endelement %}

    <div class="footer">
        <a href="{% url 'account_login' %}">{% trans "Voltar para o login" %}</a>
    </div>
</div>
{% endblock content %}