{% load static %}
<!doctype html>
<html lang="pt-BR" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}AutoNex - Sistema de Vendas{% endblock %}</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com/3.4.17"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/recent_sales_table.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body class="h-screen bg-gradient-radial text-slate-100 overflow-hidden font-[Lexend]">

<div class="flex h-full w-full">

    <!-- SIDEBAR -->
    {% include "includes/sidebar.html" %}

    <!-- ÁREA PRINCIPAL -->
    <div class="flex flex-col flex-1 h-full">

        <!-- HEADER (se existir) -->
        {% include "includes/header.html" %}

        <!-- CONTEÚDO -->
        <main class="flex-1 overflow-y-auto p-6">

            {% block content %}{% endblock %}

        </main>

    </div>

</div>


<!-- Scripts -->
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/recent_sales_table.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/clients.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>